Bonjour,
Vous avez procédé à une demande de mot de passe sur votre compte TerraGreen

<% reset_password_link = "https://localhost:5173/new-password?reset_token=#{@token}" %>
<%= link_to reset_password_link do %>
  <button class="new-password-button">
    Cliquez sur ce lien pour choisir un nouveau mot de passe
  </button>
<% end %>  
 Si vous n'êtes pas à l'origine de cette démarche, merci d'ignorer cet email.

A très bientôt sur TerraGreen !