


<% reset_password_link = "http://localhost:5173/new_password?reset_token=#{@token}" %>
<p>Bonjour <%= @user.email %>!</p>

<p>Vous avez procédé à une demande de mot de passe sur votre compte TerraGreen</p>
<p>Cliquez sur le lien ci-dessous pour effectuer le changement de mot de passe</p>
<p><%= link_to 'Change my password', reset_password_link %></p>
  <p>Si vous n'êtes pas à l'origine de cette démarche , merci d'ignorer cet email !</p>

 
